<div class="section-container">
    <div class="section-card">
        <div class="section-image-container">
            <img src="{{asset '/images/farm_and_garden_1.webp'}}" alt=" Woman working in a garden">
        </div>
        <div class="section-card-content">
            <h2>Our Farms & Sourcing Standards</h2>
            <p>We only source from the highest integrity from across Texas...</p>
            <a href="#" class="section-button">VIEW FARMS</a>
        </div>
    </div>
    <div class="section-card">
        <div class="section-image-container">
            <img src="{{asset '/images/seasonal-recepes.webp'}}" alt="Seasonal vegetables">
        </div>
        <div class="section-card-content">
            <h2>Seasonal Recipes</h2>
            <p>Monthly recipes tailored to in-season products and what's next in season...</p>
            <a href="#" class="section-button">VIEW RECIPES</a>
        </div>
    </div>
    <div class="section-card">
        <div class="section-image-container">
            <img src="{{asset '/images/upcoming-events.webp'}}" alt="Fresh meat cuts">
        </div>
        <div class="section-card-content">
            <h2>Upcoming Events</h2>
            <p>Learn about the connection between farming and health...</p>
            <a href="#" class="section-button">VIEW EVENTS</a>
        </div>
    </div>
</div>
<hr class="description-hr">

<div>
    <h2 class="visit-us">Visit us</h2>
</div>
<div class="info-container">
    <div class="info-box">
        <div class="info-header">ADDRESS</div>
        <div class="info-content">
            <p>1912 East 7th St.</p>
            <p>Austin, Texas 78704</p>
            <p><a href="#">Google Maps</a></p>
        </div>
    </div>
    <div class="info-box">
        <div class="info-header">HOURS</div>
        <div class="info-content">
            <p>Open Daily</p>
            <p>10am-8pm</p>
        </div>
    </div>

    <img src="{{asset '/images/image_1.png'}}" alt="Map of Austin">



</div>
<hr class="description-hr">