<div class="description">
    <p>
        Radius is a farm-to-table butcher and grocery in East Austin that sources from trusted Texas farms. Radius
        combines the abundance and localism of a farmer’s market with the convenience of a daily grocery store. The
        store has everything you need to cook seasonal homemade meals — local, pastured meat along with local, organic
        produce, grains, eggs, cheeses, and wild-caught Gulf seafood. No more, no less. No towering center aisles of
        processed foods, no endless options in every subcategory. Just a curated selection of the most delicious and
        nutritious local food. Radius is designed for health enthusiasts, foodies, and localists who want to nourish
        their bodies and support their local food ecosystem.
    </p>
    <button class="description-button"><a href="/the-radius-vision/">Learn more</a></button>
</div>

{{!-- <div class="responsive-three-column-grid">
    <div><img src="{{asset 'images/image-1.svg'}}"></div>
    <div><img src="{{asset 'images/image-2.svg'}}"></div>
    <div><img src="{{asset 'images/image-3.svg'}}"></div>
</div> --}}