<footer class="footer">
    <div class="footer-content">
        <div class="logo">
            <img src="{{asset '/images/logo-2.svg'}}" alt="Dark logo">
        </div>
        <nav class="footer-nav">
            <div class="nav-column">
                <a href="#farms">Farms</a>
                <a href="#events">Events</a>
                <a href="#recipes">Recipes</a>
                <a href="#instagram">Instagram</a>
            </div>
            <div class="nav-column">
                <a href="#about">About</a>
                <a href="#jobs">Jobs</a>
                <a href="#blog">Blog</a>
                <a href="#ordering">Ordering</a>
            </div>
        </nav>
    </div>
    <div class="footer-bottom">
        <p>2024 &#169;</p>
    </div>
</footer>