<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="{{asset '/images/slider/slider-1.webp'}}" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="{{asset '/images/slider/slider-2.webp'}}" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="{{asset '/images/slider/slider-3.webp'}}" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="{{asset '/images/slider/slider-4.webp'}}" style="width:100%">
    </div>

</div>
<br>

<div style="text-align:center;margin-bottom:60px;">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

{{#contentFor "scripts"}}
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
</script>
{{/contentFor}}