:root {
  --brand-color: var(--ghost-accent-color, #ff572f);
  --primary-text-color: #333;
  --secondary-text-color: #999;
  --white-color: #fff;
  --lighter-gray-color: #f6f6f6;
  --light-gray-color: #e6e6e6;
  --mid-gray-color: #ccc;
  --dark-gray-color: #444;
  --darker-gray-color: #1a1a1a;
  --black-color: #000;
  --green-color: #28a745;
  --orange-color: #ffc107;
  --red-color: #dc3545;
  --facebook-color: #3b5998;
  --twitter-color: #1da1f2;
  --rss-color: #f26522;
  --cream-color: #f3e9e2;
  --hazel-color: #a89968;
  --soil-color: #3f4443;
  --jam-color: #bd4735;
  --radius-color: #384E46;
  --squash-color: #f0b85e;
  --animation-base: ease-in-out;
  --font-sans: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  --font-serif: Lora, Times, serif;
  --font-simplon: Simplon BP Mono, sans-serif;
  --font-avenir: Avenir Regular, sans-serif;
  --font-demi: Avenir Cn, sans-serif;
  --navbar-height: 80px;
  --content-font-size: 1.7rem;
  --header-spacing: 6vmin;
  --head-nav-gap: 3.5rem;
}
.is-head-brand {
  --header-spacing: 8vmin;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 800;
}

/* body {
  background-color: var(--cream-color);
} */
