.is-head-left-logo .gh-head-inner {
  grid-template-columns: 1fr 50% 1fr;
}

.gh-head-logo {
  font-size: 2.2rem;
  font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 992px) {
  .is-head-left-logo .gh-head-menu {
    justify-content: center;
    margin: 0;
  }
}

/* .is-head-brand:not(.is-head-transparent) .gh-head {
  background-color: var(--cream-color);
} */

.is-head-transparent .gh-search {
  color: black;
}

.gh-head-menu .nav a {
  color: var(--cream-color);
  font-family: var(--font-demi);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.is-head-transparent .gh-head .nav>li a, .is-head-transparent .gh-head-description, .is-head-transparent .gh-head-link, .is-head-transparent .gh-head-logo, .is-head-transparent .gh-head-logo a, .is-head-transparent .gh-search, .is-head-transparent .gh-social, .is-head-transparent .nav-more-toggle {
    color: var(--cream-color);
}

.gh-head-btn.gh-btn {
  background-color: var(--squash-color);
  color: var(--jam-color);
  font-size: 20px;
  font-size: inherit;
  font-weight: 600;
}

.is-head-brand:not(.is-head-transparent) .gh-head-btn {
  background-color: var(--squash-color) !important;
  color: var(--jam-color) !important;
  flex-shrink: 0;
  /* height: 60px;
  width: 178px; */
}
.is-head-brand:not(.is-head-transparent) .gh-head-btn {
  background-color: #fff;
  color: #15171a;
}
/* .gh-head-btn.gh-btn {
  font-size: inherit;
  font-weight: 600;
} */
.gh-btn {
  align-items: center;
  /* border: 0;
  border-radius: 0;
  color: var(--jam-color);
  cursor: pointer;
  display: inline-flex; */
  font-family: var(--font-demi);
  /* font-size: 20px !important; */
  font-style: normal;
  font-weight: 600;
  gap: 0.4em;
  justify-content: center;
  letter-spacing: inherit;
  letter-spacing: 1.5px;
  line-height: 1;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
/* .gh-primary-btn {
  background-color: var(--squash-color);
  flex-shrink: 0;
  height: 60px;
  width: 178px;
} */

/* .gh-head-logo img {
  max-height: 61px;
} */

/* .is-head-transparent .gh-head-btn {
    background-color: var(--squash-color) !important;
    color: var(--jam-color) !important;
} */

/* .gh-head {
  height: 122px;
} */
