.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 80px auto auto;
  max-width: 1440px;
  padding-bottom: 40px;
}

.section-card {
  width: 30%;
  min-width: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.section-card img {
  position: absolute;
  padding: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-card-content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-card-content h2 {
  font-family: var(--font-avenir);
  font-size: 22px;
  margin: 0 0 1.6rem 0;
  font-weight: 500;
}

.section-card-content p {
  color: #666;
  font-family: var(--font-avenir);
  font-size: 1.6rem;
  margin-bottom: auto;
  font-weight: 400;
  margin: 0 0 1.6rem 0;
}

.section-button {
  display: inline-block;
  background-color: var(--radius-color);
  font-family: var(--font-demi);
  color: var(--cream-color);
  padding: 15px 32px;
  text-decoration: none;
  margin-top: 10px;
  align-self: flex-start;
  border: 1px solid var(--radius-color);
}

/* .section-button:hover {
  display: inline-block;
  background-color: var(--cream-color);
  color: var(--radius-color);
  border: 1px solid var(--radius-color);
  padding: 15px 32px;
  text-decoration: none;
  margin-top: 10px;
  align-self: flex-start;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} */

.description-button:hover a {
  color: var(--radius-color);
}

@media (max-width: 768px) {
  .section-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .section-card {
    width: 100%;
  }
}

.visit-us {
  color: #000;
  text-align: center;
  font-family: var(--font-avenir);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.12%;
  margin: 80px 0 40px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 40px;
}

.description-hr {
  border: 0;
  height: 1.5px;
  background: #f0b85e;
}

.info-container img {
  max-width: 1200px;
  align-items: center;
  display: block;
  margin: auto;
  width: 100%;
  margin: 80px auto;
}

.info-box {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 250px;
  padding: 20px;
  text-align: center;
  min-height: 180px;
}

.info-header {
  font-size: 20px;
  font-weight: bold;
  color: var(--jam-color);
  margin-bottom: 10px;
  font-family: var(--font-demi);
  font-weight: 700;
}

.info-content p {
  margin: 5px 0;
}

.info-content a {
  color: #000;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .info-box {
    min-width: 45%;
  }
}

@media (max-width: 480px) {
  .info-box {
    min-width: 100%;
  }
}
